#loadingContainer * {
  font-family: inherit;
  box-sizing: inherit;
}

#loadingContainer {
  z-index: 800;
  font-family: 'Varela-Round', sans-serif;
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hidden {
  display: none !important;
}

#loadBackground {
  z-index: 10;
  background-color: white;
  pointer-events: auto;
}

#requestingCameraPermissions {
  z-index: 11;
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 3.7vh;
  background-color: #7611B7;
  padding: 3vh 0;
}

#requestingCameraIcon {
  display: block;
  margin: 0 auto;
  margin-bottom: 2vh;
  height: 7vh;
}

#loadImage {
  position: absolute;
  margin-top: -2.5em;
  margin-left: -2.5em;
  top: 50%;
  left: 50%;
  height: 5em;
  width: 5em;
  transform: translate(-50%, -50%);
}

#cameraPermissionsErrorApple {
  padding: 20vh 5vw;
  font-size: 6vmin;
  text-align: center;
  background-color: white;
}

#cameraPermissionsErrorAppleArrow {
  position: absolute;
  right: 5vmin;
  top: 15vmin;
  width: 20vmin;
  transform: rotate(130deg);
}

#cameraPermissionsErrorAppleReloadCamera {
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 30vw;
}

#cameraPermissionsErrorAndroid {
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#deviceMotionErrorApple {
  padding: 3vh 2vh;
  color: #2D2E43;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.permission-error {
  padding: 3vh 5vh;
  font-size: 3vh;
  background-color: white;
}

.permission-error > h1 {
  font-size: 1.3em;
}

.main-button {
  border: none;
  outline: none;
  background-color: #7611B7;
  color: white;
  font-size: 2vh;
  display: block;
  margin-top: 2em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

#cameraPermissionsCameraIcon{
  overflow: hidden;
  flex: 0 0 auto;
  margin-bottom: 2vh;
}

#cameraPermissionsCameraIcon img {
  display: block;
  margin: 0 auto;
  height: 5vh;
}

#cameraSelectionWorldTrackingError {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
  color: black;
  font-size: 3.7vh;
  background-color: white;
  padding: 3vh 0;
}

.error-text-header {
  font-family: 'Varela-Round', sans-serif;
  font-size: 14pt;
  color: #323232;
  letter-spacing: .37;
  line-height: 23pt;
}

.loading-error-header {
  font-size: 3vh;
  flex: 0 0 auto;
}

.loading-error-footer {
  font-size: 2.5vh;
  line-height: 5vh;
  flex: 0 0 auto;
  text-align: center;
  width: 80vmin
}

.loading-error-footer img {
  display: block;
  height: 4.5vh;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.loading-error-instructions {
  font-family: 'Raleway-Regular', sans-serif;
  color: #2D2E43;
  font-size: 2vh;
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
  flex: 0 0 auto;
}

.loading-error-instructions > li {
  position: relative;
  margin-bottom: 4.5vh;
}

.loading-error-instructions > li > img {
  max-height: 2.5vh;
  vertical-align: middle;
  margin: 0 .5vh;
}

.loading-error-instructions > li:before {
  font-family: 'Varela-Round', sans-serif;
  position: absolute;
  width: 6vh;
  height: 5.5vh;
  border-radius: 3vh;
  color: #fff;
  background-color: rgba(218, 209, 228, 128);
  text-align:center;
  left: -8vh;
  top: -1vh;
  font-size: 2vh;
  line-height: 6vh;
  counter-increment: line;
  content: counter(line);
}

.highlight {
  color: #7611B7;
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: bold;
}

.camera-instruction-block {
  display: inline-block;
  background-color: #EBEBEB;
  padding: 1vh;
}

.camera-instruction-button {
  display: inline-block;
  background-color: #EBEBEB;
  padding: 1vh;
  background-color: #359AFF;
  color: white;
  font-size: 1.5vh;
  box-shadow: 0 .125vh .25vh rgba(0, 0, 0, 0.5);
}

.fade-out { animation: fade-out 0.3s linear forwards; }
@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.modal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

.intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    max-width: 660px;
    color: #000;
    text-align: center;
}

.logo {
    background: url("//deep4drive-develop.github.io/mobility-inn/2020wakuwaku/image/D4D_logotype_small.jpg") no-repeat center;
    background-size: contain;
    width: 100%;
    min-width: 660px;
}

.powered-by {
    background: url("//deep4drive-develop.github.io/mobility-inn/2020wakuwaku/image/powered by 8th wall_horizontal_black.svg") no-repeat center;
    background-size: contain;
    width: 100%;
    max-width: 200px;
}
